.welcome{
    display: grid;
    grid-template-columns: 1f;
    grid-column-gap: 15px;
    place-items: center;
    align-content: center;
    margin-bottom: auto;
    width: 100%;
    height: 100vh;
    color: white;
}
.welcome__title{
    font-size: 46px;
    line-height: 62px;
    width: 560px;
    font-weight: bold;
    margin-bottom: 15px;
}
.welcome__sub__title{
    font-size: 23px;
    font-weight: 400;
    width: 500px;
    margin-bottom: 15px;
}
.welcome__description{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
}
.welcome__form{
    width: 580px;
    display: flex;
}
.welcome__input__content{
    flex-grow:2;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}
.welcome__input{
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 5px;
    border: none;
}
.welcome__input:focus, textarea:focus, select:focus{
    outline: none;
}
.welcome__button__content{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.welcome__button{
    background-color: #e50914;
    color: white;
    padding: 15px 20px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.span__icon{
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}
.fa__angle{
    text-align: center;
    font-size: 24px;
    display: inline-block;
}
/* #e50914; */